@import "bootstrap-inc";
@import "~bootstrap-icons/font/bootstrap-icons";

.page-title {
  text-align: center;
  font-weight: 500;
}

.body-container {
  padding-top: 20px;
}

.admin-shield {
  color: darkgreen;
}

.invite-expired {
  color: #6c757d;
}