{% extends 'base.html.twig' %}

{% block title %}Delete WebDAV calendar{% endblock %}

{% block body %}
<h3 class="page-title">Delete WebDAV calendar {{ calendar.name }}?</h3>
{{ form(form) }}
{% endblock %}

