{% extends 'base.html.twig' %}

{% block title %}New invite{% endblock %}
{% block body %}
    <h3 class="page-title">No invites remaining</h3>
    <p>You have no invites remaining. Please contact the person that invited you or an
        administrator.</p>
{% endblock %}


