{% extends 'base.html.twig' %}

{% block title %}Invite already used{% endblock %}
{% block body %}
    <h3 class="page-title">Invite already used</h3>
    <p>
        This invite has already been used, please ask to be re-invited. If you have already filled
        in the sign-up form, try logging in with the details you submitted.
    </p>
{% endblock %}


