{% extends 'base.html.twig' %}

{% block title %}Signup{% endblock %}

{% block body %}
    <h3 class="page-title">Signup</h3>
    <p>You've been invited by {{ invite.owner.name }} to create an account. Please fill in the details below.</p>
    {{ form(form) }}
{% endblock %}

