{% extends 'base.html.twig' %}

{% block title %}Upload rota{% endblock %}

{% block body %}
    <h3 class="page-title">Uploading new rota for {{ placement.name }}</h3>
    {{ form(form) }}
{% endblock %}

